/* General Styling */
.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 17px;
}
.innerContainer{
    font-size: xx-large;
}
select {
    margin: 10px;
    font-size: 22px;
    border-radius: 9px;
    padding: 9px 19px;
    font-family: auto;
}

/* Responsive Design */
@media (max-width: 670px) {
    select {
        margin: 3px;
        font-size: 12px;
        border-radius: 9px;
        padding: 6px 0px;
        font-family: auto;
    }

    .innerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
}
